<div>
    <span i18n="@@language">Language: </span>
    <a (click)="changeLanguage('en')">English</a> | 
    <a (click)="changeLanguage('bg')">Български</a>
</div>

<h1 i18n="@@siteTitle">Welcome!</h1>

<p i18n="@@siteDescription">This is my page which is localized.</p>

<p i18n="@@todayDate">Today is {{today | date}}</p>

<p>{{message}}</p>

<p>
    <img src="assets/logo.svg" i18n-alt="@@logoAlt" alt="My site's logo">
</p>

<p>
    <span i18n="@@itemCount">{itemCount, plural, =0 {No items} =1 {One item} other {{{itemCount}} items}}</span>
</p>
<p>
    <button type="button" (click)="incrementItemCount()" i18n="@@itemCountClear">Increment</button>
    <button type="button" (click)="clearItemCount()" i18n="@@itemCountIncrement">Clear</button>
</p>

<hr>

<app-form title="This is a form" i18n-title="@@formTitle"></app-form>